.home-container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.user-info-container {
  text-align: right;
}

.user-info {
  margin-bottom: 10px;
}

.logout-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.logout-button:hover {
  background-color: #0056b3;
}

.problems-list {
  list-style-type: none;
  padding: 0;
}

.problems-list li {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.problems-list li div {
  margin-bottom: 5px;
}

.problem-link {
  color: #007BFF;
  text-decoration: none;
  margin-right: 10px;
}

.problem-link:hover {
  text-decoration: underline;
}
