/* Login.css */
.login-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding-right: 30px; /* 增加一些右侧内边距 */
    padding-top: 60px; /* 增加一些上边距 */
  }
  
  .login-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px; /* 确保盒子有固定宽度 */
  }
  
  .login-box h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .login-box label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .login-box input {
    width: 100%; /* 确保输入框占满宽度 */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* 包括padding和border在内 */
  }
  
  .login-box button {
    width: 100%; /* 确保按钮占满宽度 */
    padding: 10px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box; /* 包括padding和border在内 */
  }
  
  .login-box button:hover {
    background: #0056b3;
  }
  
  .error-message {
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  
  .login-box p {
    margin-top: 20px;
  }
  
  .login-box a {
    color: #007BFF;
  }
  
  .login-box a:hover {
    text-decoration: underline;
  }
  