/* Submit.css */
.submit-container {
  position: relative;
  padding: 20px;
}

.submit-back-home-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-back-home-button:hover {
  background-color: #0056b3;
}

.submit-table-container {
  position: relative;
  margin-top: 20px; /* 确保容器与表单有一定的距离 */
}

.submit-table-header {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: -40px;
  right: 0;
}

.submit-table-title {
  margin-bottom: 0px;
}

.submit-refresh-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-refresh-button:hover {
  background-color: #0056b3;
}

.submit-problem-description {
  white-space: pre-line; /* 确保换行符显示为实际的换行 */
  margin-bottom: 20px;
}
